* {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.zeiza-main-tag {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 194px;
    margin: 0 100%;
    background: none;
    border-bottom: 1px solid black;
}

.user {
    background: aliceblue;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    margin: 0 35%;
    height: 40px;
    padding: 20px 0 0 30px;
    width: 50%;
    border-radius: 50px;
}

.zeiza {
    font-weight: bold;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    background: lightgray;
    margin: 10px 100%;
    width: 100%;
    margin: 10px 100px;
    height: 40px;
    padding: 20px 0 0 30px;
    width: 50%;
    border-radius: 50px;
}
